* {
  margin: 0;
  box-sizing: 0;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(148, 145, 147, 0.381);
}

.addForm {
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 15px;
  border: 8px solid black;
  border-radius: 35px; 
  padding: 1% 3% 2% 3%;
  width: 575px;
  background-color: #56945075;
}

.h1 {
  text-align: center;
}

.inpName,
.inpSalary,
.inpImage,
.submit {
  font-size: 30px;
  padding: 0.5% 1% 0.5% 1%;
}

.submit {
  background-color: rgb(64, 103, 200);
  padding: 0.5% 1% 0.5% 1%;
  color: aliceblue;
}

.container_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
  padding: 20px 10px;
}

.container_card {
  display: flex;
  flex-direction: row;
  border: 8px solid rgb(67, 69, 67);
  padding: 10px 10px;
  border-radius: 45px;
  width: 550px;
  transition: transform 0.2s;
  background-color: rgb(209, 202, 236);
}

.card_img {
  width: 350px;
  height: 350px;
  object-fit: contain;
}

.text {
  padding: 1%;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
}

.container_card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.del_card {
  display: none;
  position: absolute;
  top: 90%;
  right: 20%;
  padding: 0.5% 10%;
  color: rgb(164, 16, 16);
  font-size: 20px;
  animation: blink 1.5s ease-in-out infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@media (max-width: 1850px) {
  .container_cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media (max-width: 1250px) {
  .container_cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .addForm {
    gap: 15px;
    border: 8px solid black;
    border-radius: 35px;
  }
}

@media (max-width: 650px) {
  .inpName,
  .inpSalary,
  .inpImage,
  .submit {
    font-size: 15px;
    padding: 0.5% 1% 0.5% 1%;
  }

  .h1 {
    font-size: 20px;
  }

  .addForm {
    width: 350px;
    margin-left: 2%;
  }

  .container_card {
    display: flex;
    flex-direction: column;
    border: 8px solid rgb(67, 69, 67);
    padding: 10px 10px;
    border-radius: 45px;
    width: 360px;
    transition: transform 0.2s;
  }

  .text {
    gap: 5px;
    font-size: 15px;
  }

  .container_cards {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }

  .del_card {
    display: none;
    position: absolute;
    top: 85%;
    right: 1%;
    left: 40%;
    padding: 0.5% 10%;
    text-align: center;
  }
} 