.product-card {
  border: 1px solid blue;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 5px 5px 15px lightblue;
  max-width: 100%;
}

.products-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

/* Название товара */
.product-title {
  font-size: 16px;
  font-weight: bold;
  color: #0096CD;
}

/* Цена товара */
.product-price {
  font-size: 16px;
  font-weight: 700;
  color: darkgreen;
}

.input {
  padding: 0.5rem;
  border: none;
  border-bottom: 2px solid lightblue;
  transition: all .5s;
}

.input:focus {
  outline: none;
  border-bottom-color: #0096CD;
}

.error-input {
  background-color: rgb(213, 95, 95);
}

.button {
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #0096CD;
  padding: 10px;
  cursor: pointer;
  transition: all .5s;
  width: max-content;
  margin: 10px;
}

.button:hover {
  box-shadow: 5px 5px 15px lightblue;
  background-color: #0074CE;
}

.count {
  display: none;
}

.modal_area {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.146);
  top: 0;
  left: 0;
  position: fixed;
}

.modal_window {
  width: 500px;
  text-align: center;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #eca2a2; 
  padding: 15px; 
  border: 1px solid #000; 
}

